<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style/style.css">


</head>

<body>
    <div id="app">
        <header>
            <div class="row ">
                <div class="col ">
                    <nav class="navbar navbar-dark ">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="./index.html">
                                <img src="./assets/img/Logo Amazing Events.png" alt="Logo Amazing Events">
                            </a>
                            <ul class="navbar-nav d-flex flex-row">
                                <li class="nav-item">
                                    <a class="nav-link" href="./index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./u-events.html">Upcoming Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./p-events.html">Past Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="./contact.html">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Stats</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
            <div class="row title">
                <div class="col">
                    <h1 id="page">Stats</h1>
                </div>
            </div>

        </header>
        <main class="stats">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-dark table-hover caption-top table1">
                            <caption>Events Statistics</caption>
                            <thead>
                                <tr class="text-center">
                                    <th>Events with the higest percentage of attendance</th>
                                    <th>Events with the lowest percentage of attendance</th>
                                    <th>Event with larger capacity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td id="high-attendace">{{statistics.high_event.name}} ({{porcentage_attendance_only (statistics.high_event.assistance, statistics.high_event.capacity)}})%</td>
                                    <td id="low-attendace">{{statistics.low_event.name}} ({{porcentage_attendance_only (statistics.low_event.assistance, statistics.low_event.capacity)}})%</td>
                                    <td id="larger-capacity">{{statistics.high_capacity.name}} - {{statistics.high_capacity.capacity}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-dark table-hover caption-top table2">
                            <caption>Upcoming events statistics by category</caption>
                            <thead>
                                <tr class="text-center">
                                    <th>Category</th>
                                    <th>Revenues</th>
                                    <th>Porcentage of attendance</th>
                                </tr>
                            </thead>
                            <tbody id="second-table">
                                <tr v-for="el of statistics.future_events" class="text-center">
                                    <td>{{el.category}}</td>
                                    <td>${{el.revenues}}</td>
                                    <td >{{el.porcentage}}%</td>
                                </tr>
                            </tbody>
                        </table>
    
                        <table class="table table-dark table-hover caption-top table3">
                            <caption>Past events statistics by category</caption>
                            <thead>
                                <tr class="text-center">
                                    <th>Category</th>
                                    <th>Revenues</th>
                                    <th>Porcentage of attendance</th>
                                </tr>
                            </thead>
                            <tbody id="last_table">
                                <tr v-for="el of statistics.past_events" class="text-center">
                                    <td>{{el.category}}</td>
                                    <td>${{el.revenues}}</td>
                                    <td >{{el.porcentage}}%</td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
    
        </main>

        <footer v-html="footer_template" class="foot-stats">
        </footer>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script> -->
    <script src="./assets/script/main.js"></script>
</body>

</html>